<!DOCTYPE html>
<html>
<head>
  <title>DatatableState</title>
  <%= stylesheet_link_tag    "datatable_state/application", :media => "all" %>
  <%= javascript_include_tag "datatable_state/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
